<h1>EDIT TODO</h1>

<%= form_with model: @todo, local: true do |form| %>
<div class="container">

      <%= form.label :description, "Detalle de la tarea" %>
      <%= form.text_area :description %>

      <%= form.label :completed, "Completado?" %>
      <%= form.check_box :completed %>


     <%= form.submit "Editar" %>

</div>
<% end %>
