<%= render 'navbar' %>
<div class="container" style="padding: 50px;">
<h1><%= link_to "Crear Nuevo", new_todo_path %></h1>

  <% @todos.each do |todo| %>
    <div class="well">
      <h3> <%= link_to todo.description, todo %> </h3>
      <p> <%= todo.completed %> </p>
      <p><%= link_to 'Editar', edit_todo_path(todo) %> |
      <%= link_to "Completado", complete_path(todo) %> |
      <%= link_to "Borrar", todo, method: :delete, data: { confirm: '¿Estás Seguro?' } %>

      </p>
    </div>
  <% end %>
</div>
